.time{
    color: rgb(110, 110, 110);
}


/* Phone Style */
@media (min-width:480px)  {     
    .logosize{
height: 100px;
}

.catsize{
max-width: 100em;
}

.carousel-inner{
max-height: 500px;
}

.title
{
height: 90px;
color: aliceblue;
font-size: 60px;
}

.text
{
color: rgb(204, 204, 204);
font-size: 45px;
}
}


/* PC Style*/
@media (min-width:1281px) { 
/* hi-res laptops and desktops */
.logosize{
height: 50px;
}


.catsize{
max-width: 30em;
}

.mk_image{    
margin: auto;
width: 60%;
height: 500px;
}

.carousel-inner{
max-height: 500px;
}

.Content{
margin: auto;
width: 85%;
}

.title
{
height: 90px;
color: aliceblue;
}

.text
{
    font-size: 25px;
color: rgb(204, 204, 204);
}

}